[submodule "cores/arduino/kendryte-standalone-sdk"]
	path = cores/arduino/kendryte-standalone-sdk
	url = https://github.com/sipeed/kendryte-standalone-sdk
[submodule "libraries/Adafruit-GFX-Library"]
	path = libraries/Adafruit-GFX-Library
	url = https://github.com/adafruit/Adafruit-GFX-Library
[submodule "libraries/WiFiEsp"]
	path = libraries/WiFiEsp
	url = https://github.com/btx000/WiFiEsp
[submodule "libraries/lv_arduino"]
	path = libraries/lv_arduino
	url = https://github.com/btx000/lv_arduino.git
[submodule "libraries/lv_maixduino"]
	path = libraries/lv_maixduino
	url = https://github.com/littlevgl/lv_maixduino.git
